/target
/save
/.vscode
/*.cs
/*.svg
/*.rs
/Cargo.lock
abstract_strategy/dist
/games/abalone/dist
/games/awale/dist
/games/bagh_chal/dist
/games/checkers/dist
/games/chess/dist
/games/connect4/dist
/games/hare_and_hounds/dist
/games/neutron/dist
/games/reversi/dist
/games/three_musketeers/dist
/games/yote/dist
/games/diaballik/dist/index.html
/games/diaballik/dist
/games/footboard/dist
/games/gomoku/dist
/kudchuet/dist
/games/backgammon/dist
/games/chinese_checkers/dist
